.navbar-center  {
    position: absolute;
    left: 50%  ;
    transform: translatex(-50%);
 	height: 30%;
 	        
} 

 hr.estilo1{ 
   height:5px;  
   background-color:#707070; 
      border:none; 
 }

 hr.estilo2{ 
   height:30px;  
   background-color:#707070;
   margin:0;
   padding: 0;
      border:none; 
}

 hr.estilo3{ 
   height:5px;  
   background-color:#C0C0C0; 
     margin-top: 0;
   padding-top:0;
      border:none; 
}
 

  hr.estilo4{ 
   height:10px;  
   background-color:#C0C0C0; 
      border:none; 
      margin-left: 0;
        border-radius: 300px ; 
        width: 30%;
 }

.espacio-boton {
	margin-right: 5px;
}


.btn-youtube { 

  background-color:#DC2725;
  text-decoration: none;
   color:white !important;
}

.btn-youtube:hover {
 
  background-color: #c82333;
 
